TestSample3/MessageMapping/MM_Shopify_Product_ATPCheck/src/main/resources/xsd/ATPCheck_FinalFormatBody.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Shopify">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="atpcheckrule" type="xs:string"/>
              <xs:element name="atprelevantdocpurpose" type="xs:string"/>
              <xs:element name="externalmaterial" type="xs:string"/>
              <xs:element name="Plant" type="xs:unsignedShort"/>
              <xs:element name="StorageLocation" type="xs:string"/>
              <xs:element name="salesorganization" type="xs:unsignedShort"/>
              <xs:element name="distributionchannel" type="xs:unsignedByte"/>
              <xs:element name="division" type="xs:unsignedByte"/>
              <xs:element name="unitofmeasure" type="xs:unsignedByte"/>
              <xs:element name="requestedquantity" type="xs:string"/>
              <xs:element name="source" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>